body {
    background-color: RGB(204, 119, 34);
}

header {
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%; 
    margin-top: 0;
    border-bottom: 2px solid brown;
}

h5 {
    font-size: 30px;
    color: RGB(245, 245, 220);
    font-weight: 100;
}

.title {
    text-align: center;
    color: RGB(245, 245, 220);
    margin-bottom: 10px;
}

button {
    background-color: RGB(220, 220, 220);
    border-radius: 5px;
    padding: 5px 5px;
    color: black;
    border: 1px solid RGB(220, 220, 220);
}

.paraImg {
    color: RGB(245, 245, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 40%; 
    margin-right: 5%;
}

p {
    font-size: 20px;
    text-align: center;
}

/*menu*/
.recipeDiv {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 1% 5%; 
    width: 88.5vw;
    height: 75vh;
    /*background-color: lightblue; /* Add a background color */
    /*border: 2px solid red; /* Add a border */
}

.recipeOne, .recipeTwo, .recipeThree, .recipeFour, .recipeFive, .recipeSix {
    background-color: grey;
    margin: 5%;
    display: flex; /* Ensure the content inside is centered */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center vertically */
}

.recipeOne img {
    align-self: flex-start; /* Align image at the top */
}
