body {
    background-color: RGB(204, 119, 34);
}

header {
    margin-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%; 
    margin-top: 0;
    border-bottom: 2px solid brown;
}

h5 {
    font-size: 30px;
    color: RGB(245, 245, 220);
    font-weight: 100;
}

.title {
    text-align: center;
    color: RGB(245, 245, 220);
    margin-bottom: 10px;
}

button {
    background-color: RGB(220, 220, 220);
    border-radius: 5px;
    padding: 5px 5px;
    color: black;
    border: 1px solid RGB(220, 220, 220);
}

button.active {
    background-color: RGB(150, 150, 150);
}

.paraImg {
    color: RGB(245, 245, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 40%; 
    margin-right: 5%;
}

p {
    font-size: 20px;
    text-align: center;
}

/*menu*/
.recipeDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    margin: auto; 
    width: 88.5vw;
    height: auto;
    gap: 8px;
}

.mainMenu {
    background-color: RGB(0, 128, 128);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border: 1px solid black; 
    margin: 10% auto; /* Center the mainMenu within the grid cell */
    width: 25vw; 
    height: 560px;
}

/*about*/
form {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactTitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="submit"] {
    width: 50%;
    padding: 8px;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px solid black;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}


input[type="submit"]:hover {
    background-color: #0056b3;
}